# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

# all
# -------------------------
'atom-text-editor.vim-mode-plus':
  'escape': 'vim-mode-plus:reset-normal-mode'
  'ctrl-c': 'vim-mode-plus:reset-normal-mode'
  'ctrl-[': 'vim-mode-plus:reset-normal-mode'

# all except normal
# -------------------------
'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'escape': 'vim-mode-plus:activate-normal-mode'
  'ctrl-[': 'vim-mode-plus:activate-normal-mode'

# all except normal
# -------------------------
'.platform-darwin atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'ctrl-c': 'vim-mode-plus:activate-normal-mode'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  # pane/window creation
  'ctrl-w n': 'pane:split-down-and-copy-active-item'
  'ctrl-w k': 'pane:split-right-and-copy-active-item'
  'ctrl-w v': 'pane:split-up-and-copy-active-item'
  'ctrl-w d': 'pane:split-left-and-copy-active-item'

  # window navigation
  'left': 'window:focus-pane-on-left'
  'right': 'window:focus-pane-on-right'
  'up': 'window:focus-pane-above'
  'down': 'window:focus-pane-below'

# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson
